* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e272e;
}

.calculator {
  padding: 20px;
  background: #2f3640;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #000;
}

.display input {
  width: 310px;
  height: 70px;
  margin: 10px;
  background: #1e272e;
  border: none;
  color: #fff;
  font-size: 40px;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #000;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  width: 65px;
  height: 65px;
  margin: 8px;
  border-radius: 15px;
  border: none;
  background: #353b48;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

button:hover {
  background: #718093;
}

button:active {
  transform: scale(0.95);
}

.opr {
  color: #fbc531;
}

#eqBtn {
  background: #e84118;
  margin-top: 10px;
}

#eqBtn:hover {
  background: #c23616;
}
